/* -------------------- */
/* Custom properties */
/* -------------------- */

:root {
    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width:35em){
    :root {        
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em){
    :root {
         /* font-sizes */
         --fs-800: 6.25rem;
         --fs-700: 3.5rem;
         --fs-600: 2rem;
         --fs-500: 1.75rem;
         --fs-400: 1.125rem;
    }
}



/* -------------------- */
/* Reset */
/* -------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animaations for people who turn them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* Utility classes */

.hidden {
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);    

}


.grid {
    display: grid;
    gap: var(--gap, 1rem);
    
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    
}

.flow--space--small {
    --flow-space: .5rem
}

.flow--space--med {
    --flow-space: 1rem
}



.container {
    padding-inline:2em;
    max-width: 80rem;
    margin-inline: auto;
}


.d-block {
    display: block;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}


/* colors */
.bg-dark {background-color: hsl(var(--clr-dark));}
.bg-white { background-color: hsl(var(--clr-white));}
.bg-accent{background-color: hsl(var(--clr-light));}

.text-dark {color: hsl(var(--clr-dark));}
.text-white { color: hsl(var(--clr-white));}
.text-accent{color: hsl(var(--clr-light));}


/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}


.numbered-title > span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl(var(--clr-white)/.25)

}


/* ------------------- */
/* Components   */
/* ------------------- */


.large-button {
    position: relative;
    aspect-ratio: 1;
    padding: 0 2em;    
    text-decoration: none;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    z-index: 1;   
    font-size: 2rem;
}

.large-button::after {
    content: '';
    position: absolute;
    background: hsl(var(--clr-white)/.15);
    width:100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1500ms linear, transform 500ms ease-in-out;
    
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

/* primary header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem)
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / 0.95);
    /* backdrop-filter: blur(1.5rem); */
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

@supports (backdrop-filter: blur(1.5rem)){
    .primary-navigation {       
        background: hsl( var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;        
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0);        
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right:1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-position: center;
        width:1.5rem;
        aspect-ratio: 1;
        background-repeat: no-repeat;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/shared/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 2px;
    }


    .primary-navigation.underline-indicators > .active{
        border:0;
    }
}

@media (min-width:35em){
    .primary-navigation {
        padding-inline: clamp(3rem, 8vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.99em) {   
    
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width:45em){   

    .primary-header::after {
         content: '';
         display: block;
         position: relative;
         height: 1px;
         background-color: red;
         width: 100%; 
         order:1;
         margin-right:-2.5rem;  
         background: hsl( var(--clr-white) / .25);      
    } 

    nav {
        order:2;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
}


.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}

.underline-indicators > li:hover,
.underline-indicators > button:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > li.active,
.underline-indicators > button.active,
.underline-indicators > button[aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}
 
.dot-indicators > button:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > button[aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}

.number-indicators > *{
    cursor: pointer;
    aspect-ratio: 1;
    border: 0;
    border-radius: 50%;
    width: 3em;
    border: 0.1rem solid hsl(var(--clr-white)/.25)
}

.number-indicators > button:hover{    
    border: 0.1rem solid hsl(var(--clr-white)/1)
}

.number-indicators > button[aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1);
    color: hsl(var(--clr-dark
    )) 
}

/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */

/* Home */

body {    
    background-position: bottom center;
    background-size: cover;
}


.home {
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-position: bottom center;
    background-size: cover;
}

@media (min-width:35rem){
    .home {
        background-position: center center;
        background-image: url('./assets/home/background-home-tablet.jpg');
    }
}

@media (min-width:45rem){
    .home {
        background-image: url('./assets/home/background-home-desktop.jpg');
    }
}

/* Destination */



.destination {
    background-image: url('./assets/destination/background-destination-mobile.jpg');
    background-position: bottom center;
    background-size: cover;
}

@media (min-width:35rem){
    .destination {
        background-position: center center;
        background-image: url('./assets/destination/background-destination-tablet.jpg');
    }
}

@media (min-width:45rem){
    .destination {
        background-image: url('./assets/destination/background-destination-desktop.jpg');
    }
}

/* Crew */



.crew {
    background-image: url('./assets/crew/background-crew-mobile.jpg');
    background-position: bottom center;
    background-size: cover;
}

@media (min-width:35rem){
    .crew {
        background-position: center center;
        background-image: url('./assets/crew/background-crew-tablet.jpg');
    }
}

@media (min-width:45rem){
    .crew {
        background-image: url('./assets/crew/background-crew-desktop.jpg');
    }
}


/* Tech */



.tech {
    background-image: url('./assets/technology/background-technology-mobile.jpg');    
}

@media (min-width:35rem){
    .tech {
        background-position: center center;
        background-image: url('./assets/technology/background-technology-tablet.jpg');
    }
}

@media (min-width:45rem){
    .tech {
        background-image: url('./assets/technology/background-technology-desktop.jpg');
    }
}



/* ----------------------------- */
/* Layout      */
/* ----------------------------- */


.grid-container {
    display: grid;     
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
   
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;    
}

/* Destination layout */

.grid-container--destination {
    --flow-space:2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content'
}

.grid-container > picture {
    grid-area: image;
    max-width: 90%;
}

.grid-container--destination > picture {
    align-self: start;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    align-items: center;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    font-size: 1.75rem;
}


/* Crew layout */

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'dots'
        'content'
}

.grid-container--crew > .dot-indicators {
    grid-area: dots;
}

.grid-container--crew >  .crew-details {
    grid-area: content;
}

.grid-container--crew > picture {
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.crew-details h2 {
    color: hsl(var(--clr-white)/.5)
}

/* Tech layout */

.grid-container--technology {
    --flow-space: 0.5rem;
    padding-inline: 0;
    grid-template-areas: 
        'title'
        'image'
        'content'      
    }

.grid-container--technology > .tablist {
    grid-area: dots;
}

.grid-container--technology > .tech-content{
    grid-area: content;
}

.grid-container--technology > *:not(picture) {
    padding-inline: 1rem;
}

.grid-container--technology > picture{
    max-width: 100%;    
}

.flex-technology {
    flex-direction: column;
    align-items: center;
    
}



@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;               
    }

    .grid-container--crew {
        grid-template-areas:
            'title'
            'content'
            'dots'
            'image'
    }   

    .grid-container {
        padding-bottom: 0;
    }

    .grid-container--technology {
        padding-bottom: 3rem;        
        
    }

    .grid-container--technology  article {
        max-width: 70%;     
        
    }

    .tech-details {
        --flow-space :1.5rem
    }

}


@media (min-width:50rem){
    .grid-container {  
        text-align: left;      
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2em,1fr) minmax(0,55rem) minmax(0,50rem) minmax(2em, 1fr);       
    }

    .grid-container--home > *:first-child {
        grid-column: 2;        
    }
    
    
    .grid-container--home > *:last-child{
        grid-column: 3;        
    }

    .grid-container--home {
        padding-bottom: 6rem;
        align-items: end;
    }

    .grid-container--destination >  {
        grid-area: image;
        max-width: 90%;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .'            
    }

    .destination-meta {        
        justify-content: start;
        --gap: min(6vw, 6rem)
    }

    .grid-container--crew > picture {
        grid-area: image;
        max-width: 90%;
        align-self: end;
    }
   

    .grid-container--crew {
        grid-template-areas: 
        '. title image .'
        '. content image .'
        '. dots image .'
    }

    .grid-container--crew > .dot-indicators {
        justify-self: start;
    }

    .crew-details {
        justify-self: start;
    }

    .grid-container--technology {
        grid-template-columns: minmax(2em,7%) minmax(0,50rem) minmax(0,30rem); 
        justify-items: center;
        align-content: start;
        grid-template-areas: 
            '. title title '
            '. content image '
            '. content image '            
    }

    .grid-container--technology  article {
        max-width: 100%;             
    }

    .flex-technology {
        flex-direction: row;
    }

    .flex-technology--column {
        flex-direction: column;
        place-items: center;   
    }

    .grid-container--technology > picture {
        grid-column: span 2;
        justify-self: end;
    }

    .number-indicators--margin {
        margin-right: clamp(1rem, 4vw, 3rem)
    }

    .numbered-title--margin-bottom {
        margin-bottom: 4rem;
    }


}

[role="tab"]:focus {
    color: limegreen;
}